<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{{site_title}}</title>

  <link href="/bootstrap/css/bootstrap.min.css" media="all" rel="stylesheet" />
  <link href="/css/styles.css" media="all" rel="stylesheet" />
</head>

<body lang="en">
  <div id="left_container">
    <div id="focal">test1</div>
    <div id="global_container">
      <div id="global">
        <div class="inner1">
          <div class="inner2"></div>
        </div>

      </div>
      <div class="jsplumb"></div>
    </div>
  </div>
  <div id="monitor">test3</div>
</body>

<script>var server_data = {{{builder_json}}};</script>
<script src="/js/lib/ios-orientationchange-fix.js"></script>
<script src="/js/lib/lodash.min.js"></script>
<script src="/js/lib/lodash-stable-stringify.js"></script>
<script src="/js/lib/jsnetworkx.js"></script>
<script src="/js/lib/jquery-2.0.3.min.js"></script>
<script src="/js/lib/jquery.bounds.js"></script>
<script src="/js/lib/backbone.js"></script>
<script src="/js/lib/purl.js"></script>
<script src="/js/lib/jquery.jsPlumb-1.5.2.js"></script>
<script src="/js/lib/dagre.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/models/tool_library.js"></script>
<script src="/js/models/tool.js"></script>
<script src="/js/models/pipeline.js"></script>
<script src="/js/models/task.js"></script>
<script src="/js/views/global_graph.js"></script>
<script src="/js/views/global_view.js"></script>
<!-- <script src="/js/routers/router.js"></script> -->
<script src="/js/app.js"></script>

<!-- Tool
Tool Option
Tool Input
Tool Output -->

<!-- Tools
Tasks
Task Options
Task Inputs
Task Outputs
Pipeline Inputs
Pipeline Outputs -->

</html>