<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{{site_title}}</title>

  <link href="/bootstrap/css/bootstrap.min.css" media="all" rel="stylesheet" />
  <link href="/css/hint.css" media="all" rel="stylesheet" />
  <link href="/css/styles.css" media="all" rel="stylesheet" />
</head>

<body lang="en">
  <div id="left_container">
    <div id="focal_container">
      <div id="focal"></div>
    </div>
    <div id="global_container">
      <div id="global"></div>
    </div>
  </div>
  <div id="monitor">test3</div>
</body>

<script type="text/html" id='GlobalView-template'>
  <div class="resizer">
    <div class="graph_subviews"></div>
  </div>
</script>

<script type="text/html" id='FocalView-template'>
  <div class="resizer">
    <div class="graph_subviews"></div>
  </div>
</script>

<script type="text/html" id='FocalTaskInputSrcNodeView-template'>
  <%= node.label %>
</script>

<script type="text/html" id='FocalTaskInputPotentialSrcNodeView-template'>
  <%= node.label %>
</script>

<script type="text/html" id='FocalTaskInputNodeView-template'>

</script>

<script type="text/html" id='FocalTaskNodeView-template'>
  <%= node.label %>
</script>

<script type="text/html" id='ModalTaskOptionsView-template'>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Task Options</h4>
    </div>
    <div class="modal-body">
      <form>
      <% _(options_by_category).each(function(category_options, category){ %>
        <fieldset>
        <legend><%- category %></legend>
        <% _(category_options).each(function(option){ %>
          <% if(option.tool_option.type === 'flag') { %>
            <div class="checkbox">
              <label>
                <input type="checkbox" data-tool-option-id="<%- option.tool_option.id %>" <%= option.value ? 'checked':'' %> > <%- option.tool_option.id %>
              </label>
            </div>
          <% } else { %>
          <div class="input-group">
            <span class="input-group-addon"><%- option.tool_option.id %></span>
            <input type="text" class="form-control" placeholder="<%- option.tool_option.default ? 'Default: '+option.tool_option.default : '' %>"  data-tool-option-id="<%- option.tool_option.id %>" value="<%- option.value %>">
          </div>
          <% } %>
          <br>
        <% }); %>
        </fieldset>
      <% }); %>
      </form>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn cancel">Cancel</a>
      <a href="#" class="btn btn-primary save">Save changes</a>
    </div>
  </div>
</div>
</script>

<script type="text/html" id='FocalPotentialPipelineInputNodeView-template'>
  <div class="icon glyphicon glyphicon-plus">

  </div>
</script>

<script type="text/html" id='ModalPipelineInputCreationView-template'>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">New Pipeline Input</h4>
    </div>
    <div class="modal-body">
      <div class="input-group">
        <input type="text" class="form-control url" placeholder="Enter Data URL">
      </div>
      <br>
      <div class="input-group">
        <input type="text" class="form-control id" placeholder="Enter ID">
      </div>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn cancel">Cancel</a>
      <a href="#" class="btn btn-primary save">Save changes</a>
    </div>
  </div>
</div>
</script>



<script type="text/html" id='FocalOutboundDatumNodeView-template'>

</script>

<script type="text/html" id='FocalAvailableFormatNodeView-template'>
  <%= node.label %>
</script>

<script type="text/html" id='FocalDestNodeView-template'>
  <%= node.label %>
</script>

<script type="text/html" id='FocalPotentialDestGroupNodeView-template'>
  <%= node.label %>
</script>

<script type="text/html" id='FocalPotentialDestNodeView-template'>
<div class="dropdown">
  <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"><%= node.label %></a>
  <ul class="dropdown-menu items" role="menu">
  </ul>
</div>
</script>

<script type="text/html" id='FocalPotentialDestNodeViewItem-template'>
<%= tool_input.tool.id %>
</script>

<script>var server_data = {{{builder_json}}}; var app = {};</script>
<script src="/js/lib/ios-orientationchange-fix.js"></script>
<script src="/js/lib/lodash.min.js"></script>
<script src="/js/lib/lodash-stable-stringify.js"></script>
<script src="/js/lib/jsnetworkx.js"></script>
<script src="/js/lib/jquery-2.0.3.min.js"></script>
<script src="/js/lib/backbone.js"></script>
<script src="/js/lib/purl.js"></script>
<script src="/js/lib/jquery.jsPlumb-1.5.2.js"></script>
<script src="/js/lib/dagre.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/util/jquery_utils.js"></script>
<script src="/js/util/lodash_utils.js"></script>
<script src="/js/util/jsplumb-right-bezier-connector.js"></script>
<script src="/js/models/tool_library.js"></script>
<script src="/js/models/tool.js"></script>
<script src="/js/models/pipeline.js"></script>
<script src="/js/models/task.js"></script>
<script src="/js/views/global_graph.js"></script>
<script src="/js/views/global_view.js"></script>
<script src="/js/views/focal_graph.js"></script>
<script src="/js/views/focal_view.js"></script>
<script src="/js/app.js"></script>
<!-- <script src="/js/routers/router.js"></script> -->


<!-- Tool
Tool Option
Tool Input
Tool Output -->

<!-- Tools
Tasks
Task Options
Task Inputs
Task Outputs
Pipeline Inputs
Pipeline Outputs -->

</html>