.pie .arc .fill {
  fill: #2d8fc1;
}
.pie .arc .alpha {
  fill: rgba(45, 143, 193, 0.2);
}
.pie .title {
  font-size: 14px;
}
.histogram .bar {
  fill: #2d8fc1;
}
.histogram .axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.histogram .axis {
  font-size: 19px;
}
.histogram .title {
  font-size: 24px;
}
.graph_view {
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}
.graph_view .resizer {
  position: relative;
  width: 100%;
  height: 100%;
}
.graph_view .graph_subviews {
  position: relative;
}
.graph_view .node {
  position: absolute;
  z-index: 2;
  text-align: center;
}
.graph_view .edge {
  position: absolute;
  z-index: 1;
}
.hw_accel {
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}
.text_node {
  min-width: 6em;
  padding: 1em;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
}
.focused_glow {
  -webkit-box-shadow: 0px 0px 28px #ff0000;
  -moz-box-shadow: 0px 0px 28px #ff0000;
  box-shadow: 0px 0px 28px #ff0000;
}
.selectable_glow {
  -webkit-box-shadow: 0px 0px 28px #00ff00;
  -moz-box-shadow: 0px 0px 28px #00ff00;
  box-shadow: 0px 0px 28px #00ff00;
}
* {
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  font-family: Quicksand;
  font-weight: 300;
}
#left_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 3;
}
#focal_container {
  flex-grow: 3;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
  position: relative;
}
#focal {
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
  z-index: 2;
}
#focal .resizer {
  position: relative;
  width: 100%;
  height: 100%;
}
#focal .graph_subviews {
  position: relative;
}
#focal .node {
  position: absolute;
  z-index: 2;
  text-align: center;
}
#focal .edge {
  position: absolute;
  z-index: 1;
}
#focal .node {
  font-size: 8px;
}
#focal .node.task_input_src {
  min-width: 6em;
  padding: 1em;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  color: #000;
  background: transparent;
  cursor: pointer;
}
#focal .node.task_input_add_existing_src {
  min-width: 6em;
  padding: 1em;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  color: #000;
  background: transparent;
}
#focal .node.task_input_add_new_src {
  min-width: 6em;
  padding: 1em;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  color: #000;
  background: transparent;
}
#focal .node.task_input {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: gray;
  z-index: 3;
}
#focal .node.task {
  min-width: 6em;
  padding: 1em;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  color: #fff;
  background: #000;
  cursor: pointer;
}
#focal .node.potential_pipeline_input {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background: gray;
  z-index: 3;
  cursor: pointer;
}
#focal .node.potential_pipeline_input .icon {
  font-size: 5px;
  position: absolute;
  color: #fff;
  left: 4px;
  top: 3px;
}
#focal .node.outbound_datum {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: gray;
  z-index: 3;
}
#focal .node.dest {
  min-width: 6em;
  padding: 1em;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  color: #000;
  background: transparent;
  cursor: pointer;
}
#focal .node.potential_dest_group {
  width: 0;
  height: 0;
}
#focal .node.potential_dest {
  min-width: 6em;
  padding: 1em;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  color: #000;
  background: transparent;
}
#focal .node.potential_dest .dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}
#focal .node.potential_dest .dropdown-menu li {
  cursor: pointer;
}
#focal .node.available_format {
  min-width: 6em;
  padding: 1em;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  color: #000;
  background: transparent;
  cursor: pointer;
}
#global_container {
  flex-grow: 2;
  border-right: 1px black solid;
  border-top: 1px black solid;
  position: relative;
}
#global {
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
  z-index: 3;
}
#global .resizer {
  position: relative;
  width: 100%;
  height: 100%;
}
#global .graph_subviews {
  position: relative;
}
#global .node {
  position: absolute;
  z-index: 2;
  text-align: center;
}
#global .edge {
  position: absolute;
  z-index: 1;
}
#global .graph_subviews {
  display: inline;
}
#global .dummy_node {
  position: absolute;
  width: 0px;
  height: 0px;
}
#global .node {
  min-width: 6em;
  padding: 1em;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
}
#global .node.primary {
  font-size: 12px;
  color: #000;
  background: #fff;
  border: 1px solid #000;
  padding: 12px;
  border-radius: 12px;
}
#global .node.primary.focused {
  -webkit-box-shadow: 0px 0px 28px #ff0000;
  -moz-box-shadow: 0px 0px 28px #ff0000;
  box-shadow: 0px 0px 28px #ff0000;
}
#global .node.secondary {
  font-size: 8px;
  color: #fff;
  background: #000;
  padding: 8px;
  border-radius: 8px;
}
#global.mode-TASK_SELECTION .node.primary {
  cursor: pointer;
}
#global.mode-DATUM_SELECTION .node.secondary.selectable {
  -webkit-box-shadow: 0px 0px 28px #00ff00;
  -moz-box-shadow: 0px 0px 28px #00ff00;
  box-shadow: 0px 0px 28px #00ff00;
  cursor: pointer;
}
#monitor {
  flex-grow: 1;
  max-width: 600px;
  border-left: 1px black solid;
  margin: 0 auto;
  height: 100%;
}
.panel_subview:not(:last-child) {
  border-bottom: 1px solid #505050;
}
.panel_subview {
  height: 33.3%;
  text-align: center;
}
.title {
  font-size: 1.5em;
  color: #646464;
}
.dragInstruction {
  padding-top: 18%;
  font-size: 1.2em;
  color: #bebebe;
}
.charts {
  position: absolute;
  top: 1.8em;
  bottom: 0px;
  width: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
.chart {
  flex: 1 1 100px;
  position: relative;
}
.chart:hover .x {
  display: block;
}
.chart .x {
  position: absolute;
  top: 15px;
  right: 15px;
  border: 1px solid #646464;
  color: #646464;
  font-size: 10px;
  border-radius: 3px;
  width: 10px;
  display: none;
  z-index: 2;
}
.chart .x:hover {
  cursor: pointer;
}
.chart svg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
}
.hint:after,
[data-hint]:after {
  padding: 4px 10px;
  font-size: 6px;
  line-height: 12px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.input-group {
  width: 100%;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
