.graph_view {
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}
.graph_view .resizer {
  position: relative;
  width: 100%;
  height: 100%;
}
.graph_view .graph_subviews {
  position: relative;
  display: inline;
}
.graph_view .node {
  position: absolute;
  z-index: 2;
  text-align: center;
}
.graph_view .edge {
  position: absolute;
  z-index: 1;
}
.hw_accel {
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}
.text_node {
  min-width: 6em;
  padding: 1em;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
}
* {
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
#left_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 3;
}
#focal_container {
  flex-grow: 3;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
  position: relative;
}
#focal {
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}
#focal .resizer {
  position: relative;
  width: 100%;
  height: 100%;
}
#focal .graph_subviews {
  position: relative;
  display: inline;
}
#focal .node {
  position: absolute;
  z-index: 2;
  text-align: center;
}
#focal .edge {
  position: absolute;
  z-index: 1;
}
#focal .node.task_input_src {
  min-width: 6em;
  padding: 1em;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  font-size: 6px;
  color: #000;
  background: transparent;
}
#focal .node.task_input_potential_src {
  min-width: 6em;
  padding: 1em;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  font-size: 6px;
  color: #000;
  background: transparent;
}
#focal .node.task_input {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: gray;
  z-index: 3;
}
#focal .node.task {
  min-width: 6em;
  padding: 1em;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  font-size: 8px;
  color: #fff;
  background: #000;
}
#focal .node.outbound_datum {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: gray;
  z-index: 3;
}
#focal .node.dest {
  min-width: 6em;
  padding: 1em;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  font-size: 6px;
  color: #000;
  background: transparent;
}
#focal .node.potential_dest_group {
  width: 0;
  height: 0;
}
#focal .node.potential_dest {
  min-width: 6em;
  padding: 1em;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  font-size: 6px;
  color: #000;
  background: transparent;
}
#global_container {
  flex-grow: 2;
  border-right: 1px black solid;
  border-top: 1px black solid;
  position: relative;
}
#global {
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}
#global .resizer {
  position: relative;
  width: 100%;
  height: 100%;
}
#global .graph_subviews {
  position: relative;
  display: inline;
}
#global .node {
  position: absolute;
  z-index: 2;
  text-align: center;
}
#global .edge {
  position: absolute;
  z-index: 1;
}
#global .dummy_node {
  position: absolute;
  width: 0px;
  height: 0px;
}
#global .node {
  min-width: 6em;
  padding: 1em;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
}
#global .node.primary {
  font-size: 12px;
  color: #000;
  background: #fff;
  border: 1px solid #000;
  padding: 12px;
  border-radius: 12px;
}
#global .node.secondary {
  font-size: 8px;
  color: #fff;
  background: #000;
  padding: 8px;
  border-radius: 8px;
}
#monitor {
  flex-grow: 1;
  border-left: 1px black solid;
}
.hint:after,
[data-hint]:after {
  padding: 4px 10px;
  font-size: 6px;
  line-height: 12px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
