.graph_view {position:absolute; top:5%; bottom:5%; left:5%; right:5%;
  .hw_accel;
  .resizer {position:relative; width:100%; height:100%;}
    .graph_subviews {position:relative; display:inline;}
      .node {position:absolute; z-index:2; text-align:center;}
      .edge {position:absolute; z-index:1; }
}

.hw_accel {
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}

.dot_node (@radius) {
  width:@radius*2;
  height:@radius*2;
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  background:gray;
  z-index:3;
}

.text_node {
  min-width:6em; padding:1em;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
}

* {box-sizing:border-box;}
html {width:100%; height: 100%; overflow:hidden;}
  body {width:100%; height: 100%; overflow:hidden; display:flex; justify-content:space-between;}
    #left_container {display:flex; flex-direction: column; justify-content:space-between; flex-grow:3;}
      #focal_container {flex-grow:3; border-right:1px black solid; border-bottom:1px black solid; position:relative;}
        #focal {
          .graph_view;
          z-index:2;
          .node {font-size:8px;}
          .node.task_input_src            {.text_node; color:#000; background:transparent;}
          .node.task_input_potential_src  {.text_node; color:#000; background:transparent;}
          .node.task_input                {.dot_node(3px); }
          .node.task                      {.text_node; color:#fff; background:#000;}
          .node.potential_pipeline_input  {.dot_node(6px); cursor: pointer;
            .icon {font-size:5px; position: absolute; color:#fff; left: 4px; top: 3px;}
          }
          .node.outbound_datum            {.dot_node(3px);}
          .node.dest                      {.text_node; color:#000; background:transparent;}
          .node.potential_dest_group      {width:0; height:0;}
          .node.potential_dest            {.text_node; color:#000; background:transparent;}
          .node.potential_format          {.text_node; color:#000; background:transparent;}
        }
      #global_container {flex-grow:2; border-right:1px black solid; border-top:1px black solid; position:relative; }
        #global {
          .graph_view;
          z-index:3;
          .dummy_node {position:absolute; width:0px; height:0px;}
          .node {.text_node}
          .node.primary {font-size:12px; color:#000; background:#fff; border: 1px solid #000; padding:12px; border-radius:12px;}
          .node.secondary {font-size:8px; color:#fff; background:#000; padding:8px; border-radius:8px;}
        }
    #monitor {flex-grow:1; border-left:1px black solid;}

  .hint:after, [data-hint]:after {
    padding: 4px 10px;
    font-size: 6px;
    line-height: 12px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }

  .input-group {width:100%;}
